<div class="bg-white p-6 rounded-xl shadow-sm border">
  <!-- Accordion Header -->
  <div class="flex justify-between items-center cursor-pointer select-none mb-4" (click)="toggleSearchPanel()">
    <h1 class="text-xl font-bold text-gray-700">Thông tin tìm kiếm</h1>
    <lucide-icon [name]="isSearchOpen ? 'chevron-up' : 'chevron-down'"
      class="w-5 h-5 text-gray-500 transition-transform duration-300"></lucide-icon>
  </div>

  <!-- Accordion Body -->
  <div class="transition-all duration-500 ease-in-out" [style.maxHeight]="isSearchOpen ? '800px' : '0'"
    [style.opacity]="isSearchOpen ? '1' : '0'">
    <!-- Bộ lọc tìm kiếm -->
    <div class="grid grid-cols-1 xl:grid-cols-12 gap-4 mb-5">
      <div class="col-span-2">
        <label class="text-sm text-gray-500 mb-1 block">Tìm kiếm</label>
        <input type="text" placeholder="Nhập tên hoặc mã sản phẩm..." [(ngModel)]="searchText"
          class="w-full border rounded-md px-3 py-2 text-sm focus:ring-1 focus:ring-orange-400 focus:outline-none" />
      </div>

      <div class="col-span-4">
        <label class="text-sm font-medium text-gray-700 mb-1 block">Lọc theo số lượng</label>
        <!-- Khung chứa -->
        <div class="flex border rounded-md overflow-hidden focus-within:ring-1 focus-within:ring-orange-400">

          <!-- Ô nhập số lượng -->
          <input type="number" placeholder="Số lượng" [(ngModel)]="quantityValue"
            class="flex-1 px-3 py-2 text-sm border-none focus:outline-none focus:ring-0 text-gray-700 placeholder-gray-400" />

          <!-- Dropdown chọn điều kiện -->
          <div class="relative flex items-center border-l px-2 bg-white">
            <select [(ngModel)]="filterQuantity"
              class="appearance-none bg-white text-sm text-gray-700 font-medium focus:outline-none pr-6 pl-2 cursor-pointer">
              <option value="less">&lt; Nhỏ hơn</option>
              <option value="greater">&gt; Lớn hơn</option>
              <option value="equal">= Bằng</option>
            </select>

            <!-- Icon tùy chỉnh -->
            <lucide-icon name="chevron-down"
              class="absolute right-2 w-4 h-4 text-gray-500 pointer-events-none"></lucide-icon>
          </div>
        </div>
      </div>



      <div class=" col-span-2 relative z-50">
        <label class="text-sm text-gray-500 mb-1 block">Loại sản phẩm</label>
        <select [(ngModel)]="filterType"
          class="w-full border rounded-md px-3 pr-8 py-2 text-sm bg-white appearance-none"
          (ngModelChange)="getCate($event)">
          <option value="">Chọn</option>
          <option *ngFor="let t of types" [value]="t.id">{{ t.name }}</option>
          <!-- Icon tùy chỉnh -->
        </select>
        <lucide-icon name="chevron-down"
          class="absolute right-2 bottom-[5px] w-4 h-4 text-gray-500 pointer-events-none"></lucide-icon>
      </div>

      <div class="col-span-2 relative">
        <label class="text-sm text-gray-500 mb-1 block">Nhóm sản phẩm</label>
        <select [(ngModel)]="filterGroup" class="w-full border appearance-none rounded-md px-3 py-2 text-sm">
          <option value="">Chọn</option>
          <option *ngFor="let g of groups" [value]="g.id">{{ g.name }}</option>
        </select>
        <lucide-icon name="chevron-down"
          class="absolute right-2 bottom-[5px] w-4 h-4 text-gray-500 pointer-events-none"></lucide-icon>
      </div>

      <div class="col-span-2 flex items-end justify-center">
        <button class="flex items-center bg-white text-black border border-black px-4 py-2 rounded-md text-sm space-x-2 
           hover:bg-gray-100 transition" (click)="getProducts()">
          <lucide-icon name="search" class="w-4 h-4"></lucide-icon>
          <span>Tìm kiếm</span>
        </button>
      </div>
    </div>

    <!-- Bộ lọc phụ -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-5">
      <div>
        <label class="text-sm text-gray-500 mb-1 block">Giá từ</label>
        <input type="number" [(ngModel)]="priceFrom" class="w-full border rounded-md px-3 py-2 text-sm" />
      </div>
      <div>
        <label class="text-sm text-gray-500 mb-1 block">Đến</label>
        <input type="number" [(ngModel)]="priceTo" class="w-full border rounded-md px-3 py-2 text-sm" />
      </div>
      <div class="relative">
        <label class="text-sm text-gray-500 mb-1 block">Thương hiệu</label>
        <select [(ngModel)]="filterBrand" class="w-full appearance-none border rounded-md px-3 py-2 text-sm">
          <option value="">Chọn</option>
          <option *ngFor="let b of brands" [value]="b.id">{{ b.name }}</option>
        </select>
        <lucide-icon name="chevron-down"
          class="absolute right-2 bottom-[5px] w-4 h-4 text-gray-500 pointer-events-none"></lucide-icon>
      </div>
    </div>
  </div>

  <!-- Hành động -->
  <div class="flex justify-end items-center mb-4 gap-2">
    <button *ngIf="selectedIds.length > 0" (click)="openDiscountModal()"
      class="flex items-center bg-[#3AA7E9] hover:bg-[#00456F] text-white px-3 py-2 rounded-md text-sm space-x-2">
      <lucide-icon name="tag" class="w-4 h-4"></lucide-icon>
      <span>Add mã giảm giá ({{ selectedIds.length }})</span>
    </button>
    <button *ngIf="selectedIds.length > 0" (click)="onDeleteBySelect()"
      class="flex items-center bg-[#3AA7E9] hover:bg-[#00456F] text-white px-3 py-2 rounded-md text-sm space-x-2">
      <lucide-icon name="trash-2" class="w-4 h-4"></lucide-icon>
      <span>Xóa sản phẩm đã chọn</span>
    </button>
    <button (click)="exportExcel()"
      class="flex items-center bg-gray-100 hover:bg-gray-200 text-gray-700 px-3 py-2 rounded-md text-sm space-x-2">
      <lucide-icon name="download" class="w-4 h-4"></lucide-icon>

      <span>Xuất file</span>
    </button>

    <!-- <button
      class="flex items-center bg-gray-100 hover:bg-gray-200 text-gray-700 px-3 py-2 rounded-md text-sm space-x-2">
      <lucide-icon name="file-spreadsheet" class="w-4 h-4"></lucide-icon>
      <span>Thêm mới bằng file Excel</span>
    </button> -->

    <button class="flex items-center bg-black hover:bg-gray-800 text-white px-4 py-2 rounded-md text-sm space-x-2"
      (click)="openCreatePage()">
      <lucide-icon name="plus" class="w-4 h-4 text-white"></lucide-icon>
      <span>Thêm mới</span>
    </button>
  </div>

  <!-- Bảng sản phẩm -->
  <div class="overflow-x-auto rounded-lg border shadow-sm">
    <table class="w-full text-sm border-collapse">
      <thead class="bg-gray-50 text-gray-600 uppercase text-xs">
        <tr>
          <th class="p-3 border text-center w-[4%]">
            <input type="checkbox" [checked]="isAllSelected()" [indeterminate]="isIndeterminate()"
              (change)="toggleSelectAll($event)" />
          </th>
          <th class="p-3 border text-center w-[5%]">#</th>
          <th class="p-3 border text-center w-[10%]">Ảnh</th>
          <th class="p-3 border text-center w-[10%]">Mã</th>
          <th class="p-3 border text-left w-[20%]">Tên sản phẩm</th>
          <!-- <th class="p-3 border text-center w-[10%]">Giá nhập</th> -->
          <th class="p-3 border text-center w-[10%]">Giá bán</th>
          <th class="p-3 border text-center w-[10%]">Loại</th>
          <th class="p-3 border text-center w-[8%]">Số lượng</th>
          <th class="p-3 border text-center w-[8%]">Thương hiệu</th>
          <th class="p-3 border text-center w-[10%]">Hoạt động</th>
          <th class="p-3 border text-center w-[10%]">Thao tác</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of products; let i = index" class="hover:bg-gray-50">
          <td class="p-3 border text-center">
            <input type="checkbox" [checked]="selectedIds.includes(p.productId)"
              (change)="toggleSelection(p.productId, $event)" />
          </td>
          <td class="p-3 border text-center">{{ (pageNumber - 1) * pageSize + (i + 1) }}</td>
          <td class="p-3 border text-center">
            <img [src]="p.mainImageUrl || 'assets/images/no-image.png'"
              class="w-10 h-10 rounded-md mx-auto object-cover" alt="Sản phẩm" />
          </td>
          <td class="p-3 border text-center text-gray-700">{{ p.sku }}</td>
          <td class="p-3 border text-left font-medium text-gray-800 truncate">{{ p.name }}</td>
          <!-- <td class="p-3 border text-center">{{ p.importPrice || number:'1.0-0':'vi' }}</td> -->
          <td class="p-3 border text-center text-blue-600 font-semibold">{{ p.price | number:'1.0-0':'vi' }}</td>
          <td class="p-3 border text-center"> {{ getTypeName(p.typeId) }}</td>
          <td class="p-3 border text-center font-semibold"
            [ngClass]="p.stockQuantity < 10 ? 'text-red-500' : 'text-gray-700'">
            {{ p.stockQuantity }}
          </td>
          <td class="p-3 border text-center"> {{ getBrandName(p.brandId) }}</td>
          <td class="p-3 border text-center">
            <!-- Toggle Active/Inactive -->
            <button type="button" class="relative inline-flex h-6 w-11 items-center rounded-full transition-colors duration-200
           focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-offset-2"
              [ngClass]="p.isActive ? 'bg-[#3AA7E9]' : 'bg-gray-300'" (click)="toggleActive(p)"
              [disabled]="p._updatingActive" [attr.aria-pressed]="p.isActive"
              title="{{ p.isActive ? 'Active (đang hiển thị web user)' : 'Inactive (chưa publish)' }}">
              <span class="inline-block h-5 w-5 transform rounded-full bg-white transition-transform duration-200"
                [ngClass]="p.isActive ? 'translate-x-5' : 'translate-x-1'"></span>
            </button>

            <div class="mt-1 text-[11px] font-medium" [ngClass]="p.isActive ? 'text-[#3AA7E9]' : 'text-gray-500'">
              {{ p.isActive ? 'Active' : 'Inactive' }}
            </div>
          </td>

          <td class="p-3 border text-center">
            <div class="flex justify-center gap-3">
              <lucide-icon name="edit" (click)="openModal(p)"
                class="w-5 h-5 text-gray-500 hover:text-[#3AA7E9] cursor-pointer"></lucide-icon>
              <lucide-icon name="trash-2" (click)="deleteProduct(p.productId)"
                class="w-5 h-5 text-gray-500 hover:text-red-500 cursor-pointer"></lucide-icon>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #discountTpl>
    <div class="text-sm text-gray-600 mb-3">
      Áp dụng giảm giá cho <b>{{ selectedIds.length }}</b> sản phẩm đã chọn
    </div>

    <nz-input-group nzSuffix="%">
      <input nz-input type="number" min="0" max="100" [(ngModel)]="discountPercent"
        placeholder="Nhập % giảm giá (ví dụ: 10)" />
    </nz-input-group>
  </ng-template>



  <!-- Phân trang -->
  <div class="flex justify-end items-center mt-4 text-sm text-gray-500">
    <app-pagination class="ml-4" [pageNumber]="pageNumber" [pageSize]="pageSize" [totalItem]="totalItems"
      [pageSizeOptions]="[10, 20, 50, 100]" (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)"></app-pagination>
  </div>
</div>