<section class="container-app text-center my-12 space-y-10">
    <div class="space-y-6">
        <h2 class="text-2xl font-bold">Chính sách bảo hành</h2>
        <div class="max-w-6xl mx-auto p-8 rounded-2xl shadow-md">
            <p>
                Khi mua sắm tại <strong>NTN365</strong>, quý khách hoàn toàn yên tâm vì tất cả sản phẩm đều là hàng
                chính hãng 100% và được áp dụng chế độ bảo hành chính hãng theo quy định của từng thương hiệu.
                Chúng tôi cam kết đồng hành cùng quý khách trong suốt quá trình sử dụng, hỗ trợ bảo hành nhanh chóng,
                minh bạch và đúng quy trình để đảm bảo quyền lợi tốt nhất cho khách hàng.
            </p>
        </div>
    </div>

    <div class="space-y-6">
        <h3 class="text-xl font-semibold">Thời gian bảo hành</h3>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-7xl mx-auto">
            <!-- Sứ vệ sinh -->
            <div class="bg-white p-8 rounded-xl shadow text-center">
                <svg class="w-20 h-20 mx-auto mb-3 text-gray-800" viewBox="0 0 400 400" fill="none"
                    stroke="currentColor" stroke-width="18" stroke-linecap="round" stroke-linejoin="round"
                    aria-hidden="true">
                    <path d="M80 180V90a25 25 0 0 1 25-25h45a25 25 0 0 1 25 25v90" />
                    <path d="M175 180H360c0 82-60 135-150 135h-20v55H130V246c-14-1-25-8-25-16v-22H80" />
                    <path d="M175 180h-95" />
                    <path d="M205 135h155" />
                </svg>
                <h4 class="font-bold">Sứ vệ sinh</h4>
                <p>Bảo hành 2 năm và men sứ 10 năm</p>
            </div>


            <!-- Sen vòi -->
            <div class="bg-white p-8 rounded-xl shadow text-center">
                <svg class="w-20 h-20 mx-auto mb-3 text-gray-800" viewBox="0 0 400 400" fill="none"
                    stroke="currentColor" stroke-width="20" stroke-linecap="round" stroke-linejoin="round"
                    aria-hidden="true">
                    <path d="M300 70v260" />
                    <path d="M150 150h150a30 30 0 0 0-60-30h-90v30z" />
                    <circle cx="160" cy="200" r="10" />
                    <circle cx="200" cy="200" r="10" />
                    <circle cx="240" cy="200" r="10" />
                    <circle cx="180" cy="240" r="10" />
                    <circle cx="220" cy="240" r="10" />
                    <circle cx="200" cy="280" r="10" />
                </svg>
                <h4 class="font-bold">Sen vòi</h4>
                <p>Bảo hành từ 2 - 5 năm</p>
            </div>


            <!-- Phụ kiện -->
            <div class="bg-white p-8 rounded-xl shadow text-center">
                <svg class="w-20 h-20 mx-auto mb-3 text-gray-800" viewBox="0 0 400 400" fill="none"
                    stroke="currentColor" stroke-width="18" stroke-linecap="round" stroke-linejoin="round"
                    aria-hidden="true">
                    <path d="M120 160h160v80h-60v-40h-40v40h-60v-80z" />
                    <path d="M160 120h80v-30a10 10 0 0 0-10-10h-60a10 10 0 0 0-10 10v30z" />
                    <path d="M260 290c0 30-20 50-40 50s-40-20-40-50c0-25 20-45 40-70 20 25 40 45 40 70z" />
                </svg>
                <h4 class="font-bold">Phụ kiện</h4>
                <p>Bảo hành từ 1 - 2 năm</p>
            </div>

        </div>
    </div>
</section>
<section class="container-app my-12 space-y-10">
    <!-- Điều kiện bảo hành -->
    <div class="space-y-6">
        <h2 class="text-2xl font-bold">Điều kiện bảo hành</h2>
        <ul class="list-decimal list-inside space-y-2 text-justify">
            <li>
                Sản phẩm còn trong thời hạn bảo hành. (Thời hạn bảo hành được tính từ ngày mua hàng, căn cứ theo hóa đơn
                bán hàng).
                Phiếu bảo hành đầy đủ thông tin: kiểu máy, số serial, ngày sản xuất, tên khách hàng sử dụng, số điện
                thoại, địa chỉ, chữ ký...
                Tem bảo hành phải còn nguyên vẹn, không rách rời, tẩy xóa. Với những sản phẩm áp dụng phiếu bảo hành.
                Đối với những sản phẩm không có phiếu bảo hành đi kèm, việc bảo hành sẽ được xác định dựa trên ngày sản
                xuất ghi trên thân sản phẩm.
                Quý khách cần cung cấp số serial hoặc các thông tin cần thiết để xác minh ngày sản xuất khi yêu cầu bảo
                hành.
            </li>
            <li>
                Đối với các sản phẩm bảo hành điện tử, quý khách cần cung cấp số điện thoại đã đăng ký mua hàng để dễ
                dàng kiểm tra và xử lý yêu cầu bảo hành.
            </li>
            <li>
                Sản phẩm chỉ được bảo hành khi có hư hỏng do lỗi của nhà sản xuất hoặc lỗi kỹ thuật nằm trong tiêu chuẩn
                sản xuất,
                chẳng hạn như linh kiện hoặc lỗi kỹ thuật mà không phải do người sử dụng gây ra.
                Sản phẩm phải còn nguyên vẹn và không có dấu hiệu bị tác động, sửa chữa từ bên ngoài.
                Sản phẩm không nằm trong trường hợp bị từ chối bảo hành.
            </li>
        </ul>
    </div>

    <!-- Các trường hợp không được bảo hành -->
    <div class="space-y-6">
        <h2 class="text-2xl font-bold">Các trường hợp không được bảo hành</h2>
        <ul class="list-decimal list-inside space-y-2 text-justify">
            <li>Sản phẩm hư hỏng do vận chuyển, lắp đặt sai quy cách.</li>
            <li>Khi khách hàng sử dụng sản phẩm không đúng theo hướng dẫn sử dụng hoặc có hành động can thiệp không đúng
                cách vào sản phẩm.</li>
            <li>Tiếp xúc với chất tẩy rửa gây hại, axit, dầu bôi trơn hoặc các dung dịch có tính ăn mòn để lau chùi sản
                phẩm.</li>
            <li>Sử dụng trong môi trường có yếu tố gây ăn mòn như môi trường kiềm, muối, axit hoặc yếu tố khác làm giảm
                tuổi thọ sản phẩm.</li>
            <li>Sử dụng nguồn nước không đạt tiêu chuẩn gây ảnh hưởng đến chức năng sản phẩm.</li>
            <li>Đối với sản phẩm có phiếu bảo hành, sản phẩm sẽ không được bảo hành nếu phiếu bị mất, rách hoặc không
                còn nguyên vẹn.</li>
            <li>Sản phẩm hết thời gian bảo hành, khách hàng sẽ không được hưởng chính sách bảo hành.</li>
            <li>Những lỗi phát sinh do côn trùng, vật lạ, hoặc động vật chui vào gây hư hại.</li>
            <li>Sản phẩm bị hư do hỏa hoạn, thiên tai, sét đánh hoặc nguồn điện không ổn định.</li>
            <li>Các bộ phận phụ hoặc linh kiện nhỏ không có trong diện bảo hành.</li>
            <li>Sản phẩm sử dụng điện bị hư do lắp sai nguồn điện hoặc điện áp không ổn định.</li>
            <li>Các sản phẩm điện, linh kiện hoặc thiết bị điện tử khác không thuộc danh mục bảo hành.</li>
        </ul>
        <p class="italic text-sm text-red-600">
            *Lưu ý: Thời gian giải quyết bảo hành từ 5 - 7 ngày làm việc và tùy từng trường hợp có thể sớm hoặc trễ hơn.
        </p>
    </div>
</section>
<section class="container-app my-12 space-y-8">
    <h2 class="text-2xl font-bold ">Thông tin tổng đài bảo hành của hãng</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 max-w-7xl mx-auto text-center">
        <!-- TOTO -->
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition space-y-3">
            <img src="assets/brand/amerian.png" alt="TOTO" class="h-10 mx-auto object-contain" />
            <div class="flex justify-center items-center gap-2 text-red-600 text-xl font-bold">
                <lucide-icon name="phone" class="w-5 h-5"></lucide-icon>
                <span>1800558830</span>
            </div>
        </div>

        <!-- INAX -->
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition space-y-3">
            <img src="/assets/brand/inax.png" alt="INAX" class="h-10 mx-auto object-contain" />
            <div class="flex justify-center items-center gap-2 text-red-600 text-xl font-bold">
                <lucide-icon name="phone" class="w-5 h-5"></lucide-icon>
                <span>18006633</span>
            </div>
        </div>

        <!-- American Standard -->
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition space-y-3">
            <img src="/assets/brand/amerian.png" alt="American Standard" class="h-10 mx-auto object-contain" />
            <div class="flex justify-center items-center gap-2 text-red-600 text-xl font-bold">
                <lucide-icon name="phone" class="w-5 h-5"></lucide-icon>
                <span>1900545460</span>
            </div>
        </div>

        <!-- GROHE -->
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition space-y-3">
            <img src="/assets/brand/grohe.png" alt="GROHE" class="h-10 mx-auto object-contain" />
            <div class="flex justify-center items-center gap-2 text-red-600 text-xl font-bold">
                <lucide-icon name="phone" class="w-5 h-5"></lucide-icon>
                <span>18006624</span>
            </div>
        </div>

        <!-- Ferroli -->
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition space-y-3">
            <img src="/assets/brand/ferroli.png" alt="Ferroli" class="h-10 mx-auto object-contain" />
            <div class="flex justify-center items-center gap-2 text-red-600 text-xl font-bold">
                <lucide-icon name="phone" class="w-5 h-5"></lucide-icon>
                <span>02854045528</span>
            </div>
        </div>

        <!-- Ariston -->
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition space-y-3">
            <img src="/assets/brand/ariston.png" alt="Ariston" class="h-10 mx-auto object-contain" />
            <div class="flex justify-center items-center gap-2 text-red-600 text-xl font-bold">
                <lucide-icon name="phone" class="w-5 h-5"></lucide-icon>
                <span>18001517</span>
            </div>
        </div>

        <!-- Teka -->
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition space-y-3">
            <img src="/assets/brand/teka.png" alt="Teka" class="h-10 mx-auto object-contain" />
            <div class="flex justify-center items-center gap-2 text-red-600 text-xl font-bold">
                <lucide-icon name="phone" class="w-5 h-5"></lucide-icon>
                <span>18007227</span>
            </div>
        </div>

        <!-- Malloca -->
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition space-y-3">
            <img src="/assets/brand/malloca.png" alt="Malloca" class="h-10 mx-auto object-contain" />
            <div class="flex justify-center items-center gap-2 text-red-600 text-xl font-bold">
                <lucide-icon name="phone" class="w-5 h-5"></lucide-icon>
                <span>18001212</span>
            </div>
        </div>
    </div>
</section>

<section class="container-app my-12 space-y-10">
    <!-- Quy định đổi trả -->
    <div class="space-y-6">
        <h2 class="text-2xl font-bold">Quy định đổi trả - NTN365</h2>
        <p>
            Nhằm đảm bảo quyền lợi của người tiêu dùng và nâng cao chất lượng dịch vụ sau bán hàng, chúng tôi cam kết hỗ
            trợ Quý khách trong trường hợp sản phẩm gặp sự cố không thể khắc phục ngay (do lỗi kỹ thuật của nhà sản
            xuất).
        </p>
        <p>
            Những trường hợp đặc biệt Quý khách có thể thỏa thuận về vấn đề đổi trả hàng và hoàn tiền với trường hợp đổi
            mẫu mã sản phẩm khác.
            <br />
            Sản phẩm chỉ được đổi khi đáp ứng đầy đủ các điều kiện sau đây.
        </p>
    </div>

    <!-- Các trường hợp chấp nhận đổi trả -->
    <div class="space-y-4">
        <h3 class="text-xl font-semibold">Các trường hợp chấp nhận đổi trả hàng</h3>
        <ul class="list-disc list-inside space-y-2 text-justify">
            <li>
                <strong>Lỗi kỹ thuật do nhà sản xuất:</strong>
                Trong trường hợp nhận hàng quý khách kiểm tra không đúng với mẫu sản phẩm đã đặt trước đó chẳng hạn như
                sai kích thước, màu sắc hoặc loại sản phẩm.
                Quý khách cần kiểm tra kỹ sản phẩm khi nhận hàng và thông báo ngay cho chúng tôi nếu phát hiện sai lệch
                so với đơn đặt hàng.
            </li>
            <li>
                <strong>Lỗi kỹ thuật:</strong>
                Trường hợp sản phẩm gặp sự cố kỹ thuật mà không thể khắc phục, Quý khách có quyền yêu cầu đổi sản phẩm.
                Tuy nhiên, để đảm bảo tính chính xác, sản phẩm được phôi kiểm tra và xác định lỗi kỹ thuật bởi kỹ thuật
                viên của chúng tôi hoặc của nhà sản xuất.
            </li>
            <li>
                <strong>Lỗi hình thức:</strong>
                Khi nhận hàng và kiểm tra, Quý khách phát hiện ngoại quan sản phẩm bị lỗi như trầy xước, móp méo, ố
                vàng, oxi hóa, hoặc do các yếu tố ngoại lực tác động.
            </li>
        </ul>
        <p class="italic text-sm text-[#3AA7E9]">
            *Lưu ý: Thời gian đổi/trả sản phẩm chỉ được giải quyết trong giờ hành chính.
        </p>
    </div>

    <!-- Các trường hợp không chấp nhận đổi trả -->
    <div class="space-y-4">
        <h3 class="text-xl font-semibold">Các trường hợp không chấp nhận đổi trả</h3>
        <ul class="list-disc list-inside space-y-2 text-justify">
            <li>Sản phẩm thanh lý, sản phẩm trưng bày hoặc thuộc chương trình hàng tồn kho, bớt màu.</li>
            <li>
                Sản phẩm đã được Quý khách kiểm tra và ký xác nhận tình trạng sau đó yêu cầu đổi trả hàng hóa vì lý do
                lỗi ngoại quan (trầy xước, móp méo, ố vàng...).
            </li>
            <li>
                Các sản phẩm thuộc danh mục hàng đặt, sản phẩm do nhà sản xuất Quy định không đổi - trả lại hàng, sản
                phẩm đặc biệt khác nếu có.
            </li>
            <li>
                Sản phẩm lỗi do người sử dụng gây ra: bị rơi rớt, va chạm, bị vào nước, do nguồn điện không ổn định.
            </li>
            <li>
                Quý khách muốn thay đổi chủng loại, màu sắc mà chúng tôi không có hàng hóa thay thế.
            </li>
            <li>
                Sản phẩm mất hộp, rách hộp, vỏ hộp móp méo, mất phụ kiện hoặc không có phiếu bảo hành.
            </li>
        </ul>
    </div>

    <!-- Quy trình xử lý đổi trả -->
    <div class="space-y-4">
        <h3 class="text-xl font-semibold">Quy trình xử lý thủ tục đổi trả hàng</h3>
        <ol class="list-decimal list-inside space-y-2 text-justify">
            <li>
                Quý khách liên hệ trực tiếp với Trung tâm bảo hành của hàng theo thông tin mục bảo hành từng hãng. Sau
                khi có Giấy xác nhận tình trạng về lỗi,
                nếu không thể sửa chữa được ngay, việc đổi hàng sẽ được thực hiện theo chính sách cụ thể từng hãng.
            </li>
            <li>
                Quy trình xử lý yêu cầu đổi hoặc trả hàng được thực hiện trong vòng <strong>7 (bảy) ngày</strong> tính
                từ ngày nhận đủ thông tin và giấy tờ theo quy định từ phía khách hàng.
            </li>
        </ol>
    </div>
</section>

<section class="container-app my-12">
    <!-- Title (màu #3AA7E9  giống ảnh) -->
    <h1 class="mb-4 text-left text-2xl font-extrabold leading-7 tracking-tight" style="color:#3AA7E9 ;">
        Giao hàng &amp; Nhận hàng - NTN365
    </h1>

    <!-- Sub title -->
    <h2 class="mb-3 text-left text-sm font-extrabold tracking-wider text-black">
        HÌNH THỨC ÁP DỤNG
    </h2>

    <!-- Content -->
    <ol class="list-decimal pl-5 text-left text-[15px] leading-7 text-black">
        <li class="mb-4">
            <p class="font-bold">Giao Hàng Miễn Phí:</p>
            <ul class="mt-2 list-disc space-y-2 pl-5">
                <li>
                    Miễn phí giao hàng trong nội thành Hà Nội: Áp dụng cho đơn hàng của Inax - ToTo - American Standard
                </li>
                <li>
                    Miễn phí giao hàng trong bán kính 5km từ chi nhánh của NTN365 : Áp dụng cho đơn hàng có giá trị từ
                    5.000.000đ trở lên.
                </li>
            </ul>
        </li>

        <li>
            <p class="font-bold">Giao Hàng Tính Phí:</p>
            <ul class="mt-2 list-disc space-y-2 pl-5">
                <li>
                    Đối với các đơn hàng không nằm trong diện miễn phí giao hàng, chi phí vận chuyển sẽ được tính theo
                    bảng
                    cước phí của hãng vận chuyển thứ 3 hoặc theo bảng phí của chúng tôi. Chi phí này sẽ được thông báo
                    và xác
                    nhận với quý khách trước khi thanh toán và tiến hành giao hàng.
                </li>
                <li>
                    Miễn phí giao hàng trong bán kính 5km từ chi nhánh của NTN365 : Áp dụng cho đơn hàng có giá trị từ
                    5.000.000đ trở lên.
                </li>
            </ul>
        </li>
    </ol>
</section>