<div class="wrapper-login">
  <div class="shape one"></div>
  <div class="shape two"></div>
  <div class="login-container mb-2">
    <h1 class="font-semibold text-[24px] leading-[29px] mb-5">Đổi mật khẩu</h1>
    <!-- <input type="email" [(ngModel)]="form.email" class="border rounded-xl w-full p-3 mb-3 placeholder-[#636364]"
            placeholder="name@company.com" />
        <input type="password" [(ngModel)]="form.password" class="border rounded-xl w-full p-3 mb-3 placeholder-[#636364]" 
            placeholder="Nhập mật khẩu" /> -->
    <div class="login-region">
      <div class="login-form">
        <label class="block text-sm  mb-1 font-semibold">Email</label>
        <input type="email" [(ngModel)]="form.email" class="border rounded-xl w-full p-3 mb-3 placeholder-[#636364]"
          placeholder="name@company.com" />
        <label class="block text-sm  mb-1 font-semibold">Mật khẩu cũ</label>
        <input type="password" [(ngModel)]="form.password"
          class="border rounded-xl w-full p-3 mb-3 placeholder-[#636364]" placeholder="Nhập mật khẩu" />
        <label class="block text-sm mb-1 font-semibold">Mật khẩu mới</label>
        <div class="relative">
          <input [type]="showPassword1 ? 'text' : 'password'" [(ngModel)]="form.passwordNew"
            class="border rounded-xl w-full p-3 mb-3 placeholder-[#636364]" placeholder="Nhập mật khẩu mới" />

          <button type="button" (click)="showPassword1 = !showPassword1"
            class="absolute right-3 top-[40%] -translate-y-1/2 text-gray-600">
            <i-lucide [name]="showPassword1 ? 'eye-off' : 'eye'"></i-lucide>
          </button>
        </div>

        <label class="block text-sm mb-1 font-semibold">Nhập lại mật khẩu</label>
        <div class="relative">
          <input [type]="showPassword2 ? 'text' : 'password'" [(ngModel)]="form.confirmPassword"
            (blur)="checkPasswordMatch()" class="border rounded-xl w-full p-3 mb-3 placeholder-[#636364]"
            placeholder="Nhập lại mật khẩu" />

          <button type="button" (click)="showPassword2 = !showPassword2"
            class="absolute right-3 top-[40%] -translate-y-1/2 text-gray-600">
            <i-lucide [name]="showPassword2 ? 'eye-off' : 'eye'"></i-lucide>
          </button>
        </div>
        <!-- ⭐ Hiển thị lỗi -->
        @if (passwordMismatch) {
        <p class="text-red-500 text-sm mb-7">
          Mật khẩu nhập lại không trùng khớp!
        </p>
        }

        <div class="button-region">
          <button (click)="back()"
            class="w-full bg-white text-[#372F2D] py-2 rounded-lg text-[16px] border border-[#BEBFBF]">
            Hủy
          </button>
          <button (click)="login()" class="w-full bg-[#372F2D] text-white py-2 rounded-lg text-[16px]">Xác nhận</button>
        </div>

      </div>
      <div class="login-note">
        <div class="note1">Lưu ý:</div>
        <p>Mật khẩu phải đáp ứng các yêu cầu phức tạp:</p>
        <ul class="list-disc pl-5">
          <li>Có dộ dài 8 ký tự nhất định</li>
          <li>Chứa các ký tự thuộc ba trong bốn loại sau:</li>
          <li>Ký tự viết hoa Tiếng Anh (A đến Z)</li>
          <li>Ký tự chữ thường (a đến z)</li>
          <li>10 chữ số cơ bản (0 đến 9)</li>
          <li>Ký tự không phải chữ cái (ví dụ: !, $, #, %)</li>
        </ul>
      </div>
    </div>

  </div>
</div>